<Type Name="Context" FullName="Microsoft.JScript.Context">
  <Metadata>
    <Meta Name="ms.openlocfilehash" Value="b62b450854b8c9f3e8cadbf8c37e9b85a5183044" />
    <Meta Name="ms.sourcegitcommit" Value="6a0b904069161bbaec4ffd02aa7d9cf38c61e72e" />
    <Meta Name="ms.translationtype" Value="HT" />
    <Meta Name="ms.contentlocale" Value="zh-TW" />
    <Meta Name="ms.lasthandoff" Value="06/24/2018" />
    <Meta Name="ms.locfileid" Value="36663913" />
  </Metadata>
  <TypeSignature Language="C#" Value="public class Context" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Context extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Microsoft.JScript.Context" />
  <TypeSignature Language="VB.NET" Value="Public Class Context" />
  <TypeSignature Language="C++ CLI" Value="public ref class Context" />
  <TypeSignature Language="F#" Value="type Context = class" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.JScript</AssemblyName>
    <AssemblyVersion>10.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>
      <span data-ttu-id="cd68c-101">Represents JScript source code.</span>
      <span class="sxs-lookup">
        <span data-stu-id="cd68c-101">Represents JScript source code.</span>
      </span>
      <span data-ttu-id="cd68c-102">This class belongs to the compilation and run-time state category.</span>
      <span class="sxs-lookup">
        <span data-stu-id="cd68c-102">This class belongs to the compilation and run-time state category.</span>
      </span>
    </summary>
    <remarks>
      <format type="text/markdown"><![CDATA[  
  
## Remarks  
 <span data-ttu-id="cd68c-103">這個類別主要是供<xref:Microsoft.JScript.JSScanner>和<xref:Microsoft.JScript.JSParser>讀取來源的程式碼。</span><span class="sxs-lookup"><span data-stu-id="cd68c-103">This class is used mainly by the <xref:Microsoft.JScript.JSScanner> and the <xref:Microsoft.JScript.JSParser> to read source code.</span></span> <span data-ttu-id="cd68c-104">如需詳細資訊，請參閱[建立.NET Framework 語言編譯器](http://go.microsoft.com/fwlink/?LinkId=110392)。</span><span class="sxs-lookup"><span data-stu-id="cd68c-104">For more information, see [Create a Language Compiler for the .NET Framework](http://go.microsoft.com/fwlink/?LinkId=110392).</span></span>  
  
 ]]></format>
    </remarks>
    <forInternalUseOnly />
    <altmember cref="T:Microsoft.JScript.DocumentContext" />
    <altmember cref="T:Microsoft.JScript.AST" />
    <altmember cref="T:Microsoft.JScript.JSToken" />
  </Docs>
  <Members>
    <Member MemberName="EndColumn">
      <MemberSignature Language="C#" Value="public int EndColumn { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 EndColumn" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.EndColumn" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property EndColumn As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int EndColumn { int get(); };" />
      <MemberSignature Language="F#" Value="member this.EndColumn : int" Usage="Microsoft.JScript.Context.EndColumn" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
          <span data-ttu-id="cd68c-105">Gets the column number in the line where this code ends.</span>
          <span class="sxs-lookup">
            <span data-stu-id="cd68c-105">Gets the column number in the line where this code ends.</span>
          </span>
          <span data-ttu-id="cd68c-106">This includes whitespace at the start of the line.</span>
          <span class="sxs-lookup">
            <span data-stu-id="cd68c-106">This includes whitespace at the start of the line.</span>
          </span>
        </summary>
        <value>
          <span data-ttu-id="cd68c-107">資料行數目，這段程式碼的結束位置。</span>
          <span class="sxs-lookup">
            <span data-stu-id="cd68c-107">The column number where this code ends.</span>
          </span>
        </value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="EndLine">
      <MemberSignature Language="C#" Value="public int EndLine { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 EndLine" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.EndLine" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property EndLine As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int EndLine { int get(); };" />
      <MemberSignature Language="F#" Value="member this.EndLine : int" Usage="Microsoft.JScript.Context.EndLine" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
          <span data-ttu-id="cd68c-108">Gets the ending line number of this code.</span>
          <span class="sxs-lookup">
            <span data-stu-id="cd68c-108">Gets the ending line number of this code.</span>
          </span>
        </summary>
        <value>
          <span data-ttu-id="cd68c-109">此程式碼結束行號。</span>
          <span class="sxs-lookup">
            <span data-stu-id="cd68c-109">The ending line number of this code.</span>
          </span>
        </value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="EndPosition">
      <MemberSignature Language="C#" Value="public int EndPosition { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 EndPosition" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.EndPosition" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property EndPosition As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int EndPosition { int get(); };" />
      <MemberSignature Language="F#" Value="member this.EndPosition : int" Usage="Microsoft.JScript.Context.EndPosition" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
          <span data-ttu-id="cd68c-110">Gets the position in the code string where this code ends, because all lines of code are stored in a single string.</span>
          <span class="sxs-lookup">
            <span data-stu-id="cd68c-110">Gets the position in the code string where this code ends, because all lines of code are stored in a single string.</span>
          </span>
        </summary>
        <value>
          <span data-ttu-id="cd68c-111">這段程式碼結束代碼字串中的位置。</span>
          <span class="sxs-lookup">
            <span data-stu-id="cd68c-111">The position in the code string where this code ends.</span>
          </span>
        </value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="GetCode">
      <MemberSignature Language="C#" Value="public string GetCode ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance string GetCode() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.JScript.Context.GetCode" />
      <MemberSignature Language="VB.NET" Value="Public Function GetCode () As String" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; System::String ^ GetCode();" />
      <MemberSignature Language="F#" Value="member this.GetCode : unit -&gt; string" Usage="context.GetCode " />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>
          <span data-ttu-id="cd68c-112">Gets the code that the context contains, discarding any whitespace.</span>
          <span class="sxs-lookup">
            <span data-stu-id="cd68c-112">Gets the code that the context contains, discarding any whitespace.</span>
          </span>
        </summary>
        <returns>
          <span data-ttu-id="cd68c-113">The code that the context contains.</span>
          <span class="sxs-lookup">
            <span data-stu-id="cd68c-113">The code that the context contains.</span>
          </span>
        </returns>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="GetToken">
      <MemberSignature Language="C#" Value="public Microsoft.JScript.JSToken GetToken ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance valuetype Microsoft.JScript.JSToken GetToken() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.JScript.Context.GetToken" />
      <MemberSignature Language="VB.NET" Value="Public Function GetToken () As JSToken" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; Microsoft::JScript::JSToken GetToken();" />
      <MemberSignature Language="F#" Value="member this.GetToken : unit -&gt; Microsoft.JScript.JSToken" Usage="context.GetToken " />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.JScript.JSToken</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>
          <span data-ttu-id="cd68c-114">Gets an individual unit of code, or a *token*, that the context contains.</span>
          <span class="sxs-lookup">
            <span data-stu-id="cd68c-114">Gets an individual unit of code, or a *token*, that the context contains.</span>
          </span>
        </summary>
        <returns>
          <span data-ttu-id="cd68c-115">An individual unit of code, or a *token*, that the context contains.</span>
          <span class="sxs-lookup">
            <span data-stu-id="cd68c-115">An individual unit of code, or a *token*, that the context contains.</span>
          </span>
        </returns>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="StartColumn">
      <MemberSignature Language="C#" Value="public int StartColumn { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 StartColumn" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.StartColumn" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property StartColumn As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int StartColumn { int get(); };" />
      <MemberSignature Language="F#" Value="member this.StartColumn : int" Usage="Microsoft.JScript.Context.StartColumn" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
          <span data-ttu-id="cd68c-116">Gets the column number in the line where this code starts.</span>
          <span class="sxs-lookup">
            <span data-stu-id="cd68c-116">Gets the column number in the line where this code starts.</span>
          </span>
          <span data-ttu-id="cd68c-117">This includes whitespace at the start of the line.</span>
          <span class="sxs-lookup">
            <span data-stu-id="cd68c-117">This includes whitespace at the start of the line.</span>
          </span>
        </summary>
        <value>
          <span data-ttu-id="cd68c-118">資料行數目，這段程式碼的開始位置。</span>
          <span class="sxs-lookup">
            <span data-stu-id="cd68c-118">The column number where this code starts.</span>
          </span>
        </value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="StartLine">
      <MemberSignature Language="C#" Value="public int StartLine { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 StartLine" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.StartLine" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property StartLine As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int StartLine { int get(); };" />
      <MemberSignature Language="F#" Value="member this.StartLine : int" Usage="Microsoft.JScript.Context.StartLine" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
          <span data-ttu-id="cd68c-119">Gets the line number where this code starts.</span>
          <span class="sxs-lookup">
            <span data-stu-id="cd68c-119">Gets the line number where this code starts.</span>
          </span>
        </summary>
        <value>
          <span data-ttu-id="cd68c-120">此程式碼的開始位置的行號。</span>
          <span class="sxs-lookup">
            <span data-stu-id="cd68c-120">The line number where this code starts.</span>
          </span>
        </value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="StartPosition">
      <MemberSignature Language="C#" Value="public int StartPosition { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 StartPosition" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.StartPosition" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property StartPosition As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int StartPosition { int get(); };" />
      <MemberSignature Language="F#" Value="member this.StartPosition : int" Usage="Microsoft.JScript.Context.StartPosition" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
          <span data-ttu-id="cd68c-121">Gets the position in the code string where this code starts, because all lines of code are stored in a single string.</span>
          <span class="sxs-lookup">
            <span data-stu-id="cd68c-121">Gets the position in the code string where this code starts, because all lines of code are stored in a single string.</span>
          </span>
        </summary>
        <value>
          <span data-ttu-id="cd68c-122">這段程式碼的開始位置中的程式碼字串的位置。</span>
          <span class="sxs-lookup">
            <span data-stu-id="cd68c-122">The position in the code string where this code starts.</span>
          </span>
        </value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
  </Members>
</Type>