<?xml version="1.0" encoding="utf-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:1.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.2" xsi:schemaLocation="urn:oasis:names:tc:xliff:document:1.2 xliff-core-1.2-transitional.xsd">
  <file datatype="xml" original="Context.xml" source-language="en-US" target-language="zh-TW">
    <header>
      <tool tool-id="mdxliff" tool-name="mdxliff" tool-version="1.0-15c36f0" tool-company="Microsoft" />
      <xliffext:skl_file_name xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">02cd5861-7ce2-4a82-b358-31f8435a0ac5d94103e4f9b0906ced87b4a34bd79aec58f18e84.skl</xliffext:skl_file_name>
      <xliffext:version xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">1.2</xliffext:version>
      <xliffext:ms.openlocfilehash xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">d94103e4f9b0906ced87b4a34bd79aec58f18e84</xliffext:ms.openlocfilehash>
      <xliffext:ms.sourcegitcommit xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">d31dc2ede16f6f7bc64e90d9f897ff54c4e3869b</xliffext:ms.sourcegitcommit>
      <xliffext:ms.lasthandoff xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">04/03/2018</xliffext:ms.lasthandoff>
      <xliffext:moniker_ids xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">netframework-4.5.1,netframework-4.5.2,netframework-4.5,netframework-4.6.1,netframework-4.6.2,netframework-4.6,netframework-4.7.1,netframework-4.7</xliffext:moniker_ids>
    </header>
    <body>
      <group id="content" extype="content">
        <trans-unit id="101" translate="yes" xml:space="preserve" uid="T:Microsoft.JScript.Context">
          <source>Represents JScript source code.</source>
          <target state="translated">代表 JScript 原始程式碼。</target>       </trans-unit>
        <trans-unit id="102" translate="yes" xml:space="preserve" uid="T:Microsoft.JScript.Context">
          <source>This class belongs to the compilation and run-time state category.</source>
          <target state="translated">這個類別屬於編譯和執行階段狀態分類。</target>       </trans-unit>
        <trans-unit id="103" translate="yes" xml:space="preserve" extradata="MT" uid="T:Microsoft.JScript.Context">
          <source>This class is used mainly by the <ph id="ph1">&lt;xref:Microsoft.JScript.JSScanner&gt;</ph> and the <ph id="ph2">&lt;xref:Microsoft.JScript.JSParser&gt;</ph> to read source code.</source>
          <target state="translated">這個類別主要是供<ph id="ph1">&lt;xref:Microsoft.JScript.JSScanner&gt;</ph>和<ph id="ph2">&lt;xref:Microsoft.JScript.JSParser&gt;</ph>讀取來源的程式碼。</target>       </trans-unit>
        <trans-unit id="104" translate="yes" xml:space="preserve" extradata="MT" uid="T:Microsoft.JScript.Context">
          <source>For more information, see <bpt id="p1">[</bpt>Create a Language Compiler for the .NET Framework<ept id="p1">](http://go.microsoft.com/fwlink/?LinkId=110392)</ept>.</source>
          <target state="translated">如需詳細資訊，請參閱<bpt id="p1">[</bpt>建立.NET Framework 語言編譯器<ept id="p1">](http://go.microsoft.com/fwlink/?LinkId=110392)</ept>。</target>       </trans-unit>
        <trans-unit id="105" translate="yes" xml:space="preserve" uid="P:Microsoft.JScript.Context.EndColumn">
          <source>Gets the column number in the line where this code ends.</source>
          <target state="translated">取得行中此程式碼結束的資料行編號。</target>       </trans-unit>
        <trans-unit id="106" translate="yes" xml:space="preserve" uid="P:Microsoft.JScript.Context.EndColumn">
          <source>This includes whitespace at the start of the line.</source>
          <target state="translated">這包含行開頭的空白字元。</target>       </trans-unit>
        <trans-unit id="107" translate="yes" xml:space="preserve" extradata="MT" uid="P:Microsoft.JScript.Context.EndColumn">
          <source>The column number where this code ends.</source>
          <target state="translated">此程式碼結束的資料行編號。</target>       </trans-unit>
        <trans-unit id="108" translate="yes" xml:space="preserve" uid="P:Microsoft.JScript.Context.EndLine">
          <source>Gets the ending line number of this code.</source>
          <target state="translated">取得此程式碼的結束行號。</target>       </trans-unit>
        <trans-unit id="109" translate="yes" xml:space="preserve" extradata="MT" uid="P:Microsoft.JScript.Context.EndLine">
          <source>The ending line number of this code.</source>
          <target state="translated">此程式碼的結束行號。</target>       </trans-unit>
        <trans-unit id="110" translate="yes" xml:space="preserve" uid="P:Microsoft.JScript.Context.EndPosition">
          <source>Gets the position in the code string where this code ends, because all lines of code are stored in a single string.</source>
          <target state="translated">取得程式碼字串中此程式碼結束的位置，因為所有程式碼行都會儲存在單一字串中。</target>       </trans-unit>
        <trans-unit id="111" translate="yes" xml:space="preserve" extradata="MT" uid="P:Microsoft.JScript.Context.EndPosition">
          <source>The position in the code string where this code ends.</source>
          <target state="translated">程式碼字串中此程式碼結束的位置。</target>       </trans-unit>
        <trans-unit id="112" translate="yes" xml:space="preserve" uid="M:Microsoft.JScript.Context.GetCode">
          <source>Gets the code that the context contains, discarding any whitespace.</source>
          <target state="translated">取得內容包含的程式碼，忽略任何空白字元。</target>       </trans-unit>
        <trans-unit id="113" translate="yes" xml:space="preserve" uid="M:Microsoft.JScript.Context.GetCode">
          <source>The code that the context contains.</source>
          <target state="translated">內容包含的程式碼。</target>       </trans-unit>
        <trans-unit id="114" translate="yes" xml:space="preserve" uid="M:Microsoft.JScript.Context.GetToken">
          <source>Gets an individual unit of code, or a <bpt id="p1">*</bpt>token<ept id="p1">*</ept>, that the context contains.</source>
          <target state="translated">取得內容包含的個別程式碼單位 (或<bpt id="p1">*</bpt>權杖<ept id="p1">*</ept>)。</target>       </trans-unit>
        <trans-unit id="115" translate="yes" xml:space="preserve" uid="M:Microsoft.JScript.Context.GetToken">
          <source>An individual unit of code, or a <bpt id="p1">*</bpt>token<ept id="p1">*</ept>, that the context contains.</source>
          <target state="translated">內容包含的個別程式碼單位 (或<bpt id="p1">*</bpt>權杖<ept id="p1">*</ept>)。</target>       </trans-unit>
        <trans-unit id="116" translate="yes" xml:space="preserve" uid="P:Microsoft.JScript.Context.StartColumn">
          <source>Gets the column number in the line where this code starts.</source>
          <target state="translated">取得行中此程式碼開始的資料行編號。</target>       </trans-unit>
        <trans-unit id="117" translate="yes" xml:space="preserve" uid="P:Microsoft.JScript.Context.StartColumn">
          <source>This includes whitespace at the start of the line.</source>
          <target state="translated">這包含行開頭的空白字元。</target>       </trans-unit>
        <trans-unit id="118" translate="yes" xml:space="preserve" extradata="MT" uid="P:Microsoft.JScript.Context.StartColumn">
          <source>The column number where this code starts.</source>
          <target state="translated">此程式碼開始的資料行編號。</target>       </trans-unit>
        <trans-unit id="119" translate="yes" xml:space="preserve" uid="P:Microsoft.JScript.Context.StartLine">
          <source>Gets the line number where this code starts.</source>
          <target state="translated">取得此程式碼開始的行號。</target>       </trans-unit>
        <trans-unit id="120" translate="yes" xml:space="preserve" extradata="MT" uid="P:Microsoft.JScript.Context.StartLine">
          <source>The line number where this code starts.</source>
          <target state="translated">此程式碼開始的行號。</target>       </trans-unit>
        <trans-unit id="121" translate="yes" xml:space="preserve" uid="P:Microsoft.JScript.Context.StartPosition">
          <source>Gets the position in the code string where this code starts, because all lines of code are stored in a single string.</source>
          <target state="translated">取得程式碼字串中此程式碼開始的位置，因為所有程式碼行都會儲存在單一字串中。</target>       </trans-unit>
        <trans-unit id="122" translate="yes" xml:space="preserve" extradata="MT" uid="P:Microsoft.JScript.Context.StartPosition">
          <source>The position in the code string where this code starts.</source>
          <target state="translated">程式碼字串中此程式碼開始的位置。</target>       </trans-unit>
      </group>
    </body>
  </file>
</xliff>