<?xml version="1.0" encoding="utf-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:1.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.2" xsi:schemaLocation="urn:oasis:names:tc:xliff:document:1.2 xliff-core-1.2-transitional.xsd">
  <file datatype="xml" original="Context.xml" source-language="en-US" target-language="zh-TW">
    <header>
      <tool tool-id="mdxliff" tool-name="mdxliff" tool-version="1.0-15c36f0" tool-company="Microsoft" />
      <xliffext:skl_file_name xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">02cd5861-7ce2-4a82-b358-31f8435a0ac51e0c26cb60ed91334efcc1c19a0eb91f6b7992b6.skl</xliffext:skl_file_name>
      <xliffext:version xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">1.2</xliffext:version>
      <xliffext:ms.openlocfilehash xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">1e0c26cb60ed91334efcc1c19a0eb91f6b7992b6</xliffext:ms.openlocfilehash>
      <xliffext:ms.sourcegitcommit xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">d31dc2ede16f6f7bc64e90d9f897ff54c4e3869b</xliffext:ms.sourcegitcommit>
      <xliffext:ms.lasthandoff xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">04/03/2018</xliffext:ms.lasthandoff>
      <xliffext:moniker_ids xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">netframework-4.5.1,netframework-4.5.2,netframework-4.5,netframework-4.6.1,netframework-4.6.2,netframework-4.6,netframework-4.7.1,netframework-4.7,xamarinandroid-7.1,xamarinios-10.8,xamarinmac-3.0</xliffext:moniker_ids>
    </header>
    <body>
      <group id="content" extype="content">
        <trans-unit id="101" translate="yes" xml:space="preserve" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Defines an environment for the objects that are resident inside it and for which a policy can be enforced.</source>
          <target state="translated">定義物件所在，而且可以對其強制套用原則的環境。</target>       </trans-unit>
        <trans-unit id="102" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>A context is an ordered sequence of properties that define an environment for the objects resident inside it.</source>
          <target state="translated">內容是排序的順序相同的屬性，定義物件所在的環境。</target>       </trans-unit>
        <trans-unit id="103" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Contexts get created during the activation process for objects that are configured to require certain automatic services, such as synchronization, transactions, just-in-time activation, security, and so on.</source>
          <target state="translated">內容的物件設定為需要某些自動服務，例如同步處理、 交易，在 just-in-time 啟動、 安全性和等等的啟用程序期間建立。</target>       </trans-unit>
        <trans-unit id="104" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Multiple objects can live inside a context.</source>
          <target state="translated">同一個內容可包含多個物件。</target>       </trans-unit>
        <trans-unit id="105" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Classes are marked with an instance of the <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.ContextAttribute&gt;</ph> class, which provides the usage rules.</source>
          <target state="translated">類別會標記與執行個體<ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.ContextAttribute&gt;</ph>類別，可提供使用規則。</target>       </trans-unit>
        <trans-unit id="106" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Whenever a new object is instantiated, the .NET Framework finds a compatible or creates a new instance of the <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context&gt;</ph> class for the object.</source>
          <target state="translated">每當新的物件具現化，.NET Framework 尋找相容的或建立的新執行個體<ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context&gt;</ph>物件類別。</target>       </trans-unit>
        <trans-unit id="107" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Once an object is placed in a context, it stays in it for life.</source>
          <target state="translated">一旦物件放入內容時，它會保持在其存留期間。</target>       </trans-unit>
        <trans-unit id="108" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Classes that can be bound to a context are called context-bound classes.</source>
          <target state="translated">可以繫結至內容的類別稱為內容繫結類別。</target>       </trans-unit>
        <trans-unit id="109" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>When accessed from another context, such classes are referenced directly by using a proxy.</source>
          <target state="translated">當存取來自另一個內容，這種類別使用 proxy 來直接參考。</target>       </trans-unit>
        <trans-unit id="110" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Any call from an object in one context to an object in another context will go through a context proxy and be affected by the policy that the combined context properties enforce.</source>
          <target state="translated">另一個內容中的物件從一個內容中的物件任何呼叫都會經過內容 proxy，並組合的內容屬性強制執行原則會受到。</target>       </trans-unit>
        <trans-unit id="111" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>A new object's context is generally chosen based on meta-data attributes on the class.</source>
          <target state="translated">將新物件的內容通常會選擇根據類別上的中繼資料屬性。</target>       </trans-unit>
        <trans-unit id="112" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>This mechanism is extensible through custom attributes.</source>
          <target state="translated">這項機制是透過自訂屬性延伸。</target>       </trans-unit>
        <trans-unit id="113" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>These are known as static-context properties, which are compiled into the class meta-data.</source>
          <target state="translated">這些值稱為靜態內容屬性，會編譯為類別中繼資料。</target>       </trans-unit>
        <trans-unit id="114" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Dynamic-context properties (also known as configuration properties) can be applied and configured by administrators.</source>
          <target state="translated">可以套用動態內容屬性 （也稱為組態屬性），並由系統管理員設定。</target>       </trans-unit>
        <trans-unit id="115" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>For more information on contexts, see <bpt id="p1">[</bpt>&amp;#91;<ph id="ph1">\&lt;</ph>topic://cpconboundariesprocessesapplicationdomainscontexts&gt;&amp;#93;<ept id="p1">](http://msdn.microsoft.com/library/7574180d-70df-44b8-8b78-55a119f2c96d)</ept>.</source>
          <target state="translated">如需內容的詳細資訊，請參閱<bpt id="p1">[</bpt> &amp;#91; <ph id="ph1">\&lt;</ph>topic://cpconboundariesprocessesapplicationdomainscontexts &gt;&amp;#93;<ept id="p1">](http://msdn.microsoft.com/library/7574180d-70df-44b8-8b78-55a119f2c96d)</ept>。</target>       </trans-unit>
        <trans-unit id="116" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.#ctor">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.Context" /&gt;</ph> class.</source>
          <target state="translated">初始化 <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.Context" /&gt;</ph> 類別的新執行個體。</target>       </trans-unit>
        <trans-unit id="117" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateDataSlot">
          <source>Allocates an unnamed data slot.</source>
          <target state="translated">配置未命名的資料插槽。</target>       </trans-unit>
        <trans-unit id="118" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateDataSlot">
          <source>A local data slot.</source>
          <target state="translated">本機資料插槽。</target>       </trans-unit>
        <trans-unit id="119" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateDataSlot">
          <source>The slot is allocated on all the contexts.</source>
          <target state="translated">所有的內容上配置的位置。</target>       </trans-unit>
        <trans-unit id="120" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>The required name for the data slot.</source>
          <target state="translated">資料插槽的必要名稱。</target>       </trans-unit>
        <trans-unit id="121" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>Allocates a named data slot.</source>
          <target state="translated">配置具名資料插槽。</target>       </trans-unit>
        <trans-unit id="122" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>A local data slot object.</source>
          <target state="translated">本機資料插槽物件。</target>       </trans-unit>
        <trans-unit id="123" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>The slot is allocated on all the contexts.</source>
          <target state="translated">所有的內容上配置的位置。</target>       </trans-unit>
        <trans-unit id="124" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>Named data slots are public and can be manipulated by anyone.</source>
          <target state="translated">具名的資料位置是公用的任何人都可以管理。</target>       </trans-unit>
        <trans-unit id="125" translate="yes" xml:space="preserve" uid="P:System.Runtime.Remoting.Contexts.Context.ContextID">
          <source>Gets the context ID for the current context.</source>
          <target state="translated">取得目前內容的內容 ID。</target>       </trans-unit>
        <trans-unit id="126" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.ContextID">
          <source>The context ID for the current context.</source>
          <target state="translated">目前內容的內容 ID。</target>       </trans-unit>
        <trans-unit id="127" translate="yes" xml:space="preserve" uid="P:System.Runtime.Remoting.Contexts.Context.ContextProperties">
          <source>Gets the array of the current context properties.</source>
          <target state="translated">取得目前內容屬性的陣列。</target>       </trans-unit>
        <trans-unit id="128" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.ContextProperties">
          <source>The current context properties array; otherwise, <ph id="ph1">&lt;see langword="null" /&gt;</ph> if the context does not have any properties attributed to it.</source>
          <target state="translated">目前的內容屬性陣列；如果內容沒有任何歸屬其本身的屬性，則為 <ph id="ph1">&lt;see langword="null" /&gt;</ph>。</target>       </trans-unit>
        <trans-unit id="129" translate="yes" xml:space="preserve" uid="P:System.Runtime.Remoting.Contexts.Context.DefaultContext">
          <source>Gets the default context for the current application domain.</source>
          <target state="translated">取得目前應用程式定義域的預設內容。</target>       </trans-unit>
        <trans-unit id="130" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.DefaultContext">
          <source>The default context for the <ph id="ph1">&lt;see cref="T:System.AppDomain" /&gt;</ph> namespace.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="T:System.AppDomain" /&gt;</ph> 命名空間的預設內容。</target>       </trans-unit>
        <trans-unit id="131" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.DefaultContext">
          <source>Every thread in an application domain for which a context is not explicitly set is considered to be running in the default context.</source>
          <target state="translated">每個執行緒的未明確設定內容的應用程式定義域中會被視為預設內容中執行。</target>       </trans-unit>
        <trans-unit id="132" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>The delegate used to request the callback.</source>
          <target state="translated">用來要求回呼 (Callback) 的委派。</target>       </trans-unit>
        <trans-unit id="133" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>Executes code in another context.</source>
          <target state="translated">在另一個內容中執行程式碼。</target>       </trans-unit>
        <trans-unit id="134" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>A callback can be done by calling the <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context.DoCallBack%2A&gt;</ph> method on it by passing in a delegate.</source>
          <target state="translated">回呼可藉由呼叫<ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context.DoCallBack%2A&gt;</ph>它藉由傳遞委派的方法。</target>       </trans-unit>
        <trans-unit id="135" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>The delegate is used to request a callback.</source>
          <target state="translated">委派用來要求回呼。</target>       </trans-unit>
        <trans-unit id="136" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>The delegate must be a <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.CrossContextDelegate&gt;</ph> class type.</source>
          <target state="translated">必須是委派<ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.CrossContextDelegate&gt;</ph>類別類型。</target>       </trans-unit>
        <trans-unit id="137" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.Finalize">
          <source>Cleans up the backing objects for the nondefault contexts.</source>
          <target state="translated">清除非預設內容的支援物件。</target>       </trans-unit>
        <trans-unit id="138" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.Finalize">
          <source>For default contexts, backing objects are cleaned up during shut down of the <ph id="ph1">&lt;xref:System.AppDomain&gt;</ph> class.</source>
          <target state="translated">預設內容備份物件會被清除在關閉期間向下的<ph id="ph1">&lt;xref:System.AppDomain&gt;</ph>類別。</target>       </trans-unit>
        <trans-unit id="139" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.FreeNamedDataSlot(System.String)">
          <source>The name of the data slot to free.</source>
          <target state="translated">要釋放的資料插槽名稱。</target>       </trans-unit>
        <trans-unit id="140" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.FreeNamedDataSlot(System.String)">
          <source>Frees a named data slot on all the contexts.</source>
          <target state="translated">在所有的內容上釋放具名資料插槽。</target>       </trans-unit>
        <trans-unit id="141" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.FreeNamedDataSlot(System.String)">
          <source>Named data slots are public and can be manipulated by anyone.</source>
          <target state="translated">具名的資料位置是公用的任何人都可以管理。</target>       </trans-unit>
        <trans-unit id="142" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.Freeze">
          <source>Freezes the context, making it impossible to add or remove context properties from the current context.</source>
          <target state="translated">凍結內容，使任何人都無法在目前的內容中加入或移除屬性。</target>       </trans-unit>
        <trans-unit id="143" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.Freeze">
          <source>Context properties cannot be added after the context has been frozen.</source>
          <target state="translated">已凍結的內容之後，就無法新增內容屬性。</target>       </trans-unit>
        <trans-unit id="144" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.Freeze">
          <source>The context is already frozen.</source>
          <target state="translated">內容已凍結。</target>       </trans-unit>
        <trans-unit id="145" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetData(System.LocalDataStoreSlot)">
          <source>The data slot that contains the data.</source>
          <target state="translated">包含資料的資料插槽。</target>       </trans-unit>
        <trans-unit id="146" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetData(System.LocalDataStoreSlot)">
          <source>Retrieves the value from the specified slot on the current context.</source>
          <target state="translated">從目前內容的指定插槽擷取值。</target>       </trans-unit>
        <trans-unit id="147" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetData(System.LocalDataStoreSlot)">
          <source>Returns the data associated with <ph id="ph1">&lt;paramref name="slot" /&gt;</ph>.</source>
          <target state="translated">傳回與 <ph id="ph1">&lt;paramref name="slot" /&gt;</ph> 相關聯的資料。</target>       </trans-unit>
        <trans-unit id="148" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>The data slot name.</source>
          <target state="translated">資料插槽名稱。</target>       </trans-unit>
        <trans-unit id="149" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>Looks up a named data slot.</source>
          <target state="translated">尋找具名的資料位置。</target>       </trans-unit>
        <trans-unit id="150" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>Returns a local data slot.</source>
          <target state="translated">傳回本機資料插槽。</target>       </trans-unit>
        <trans-unit id="151" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>If the name has not been used, a new slot is allocated.</source>
          <target state="translated">如果未使用的名稱，則會配置新的位置。</target>       </trans-unit>
        <trans-unit id="152" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>Named data slots are public and can be manipulated by anyone.</source>
          <target state="translated">具名的資料位置是公用的任何人都可以管理。</target>       </trans-unit>
        <trans-unit id="153" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetProperty(System.String)">
          <source>The name of the property.</source>
          <target state="translated">屬性的名稱。</target>       </trans-unit>
        <trans-unit id="154" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetProperty(System.String)">
          <source>Returns a specific context property, specified by name.</source>
          <target state="translated">傳回以名稱指定的特定內容屬性。</target>       </trans-unit>
        <trans-unit id="155" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetProperty(System.String)">
          <source>The specified context property.</source>
          <target state="translated">指定的內容屬性。</target>       </trans-unit>
        <trans-unit id="156" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The dynamic property to register.</source>
          <target state="translated">要註冊的動態屬性。</target>       </trans-unit>
        <trans-unit id="157" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The object/proxy for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated">已註冊 <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> 的物件/Proxy。</target>       </trans-unit>
        <trans-unit id="158" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The context for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated">已註冊 <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> 的內容。</target>       </trans-unit>
        <trans-unit id="159" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Registers a dynamic property implementing the <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> interface with the remoting service.</source>
          <target state="translated">向遠端服務註冊實作 <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> 介面的動態屬性 (Dynamic Property)。</target>       </trans-unit>
        <trans-unit id="160" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source><ph id="ph1">&lt;see langword="true" /&gt;</ph> if the property was successfully registered; otherwise, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</source>
          <target state="translated">如果屬性註冊成功，則為 <ph id="ph1">&lt;see langword="true" /&gt;</ph>，否則為 <ph id="ph2">&lt;see langword="false" /&gt;</ph>。</target>       </trans-unit>
        <trans-unit id="161" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Based on <ph id="ph1">`obj`</ph> and <ph id="ph2">`ctx`</ph>, <ph id="ph3">`prop`</ph> is asked to contribute a sink that is placed at some location in the path of remoting calls.</source>
          <target state="translated">根據<ph id="ph1">`obj`</ph>和<ph id="ph2">`ctx`</ph>，<ph id="ph3">`prop`</ph>參與會放在路徑中的遠端處理呼叫某些位置的接收要求。</target>       </trans-unit>
        <trans-unit id="162" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If multiple properties are registered, their sinks will be called in an arbitrary order that can change between calls.</source>
          <target state="translated">如果已登錄多個屬性，可以呼叫之間變更任意順序來呼叫其接收。</target>       </trans-unit>
        <trans-unit id="163" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If <ph id="ph1">`obj`</ph> is not <ph id="ph2">`null`</ph>, and then if it is a proxy, all calls made on the proxy are intercepted.</source>
          <target state="translated">如果<ph id="ph1">`obj`</ph>不<ph id="ph2">`null`</ph>，，然後如果它是 proxy 時，會攔截所有針對 proxy 進行的呼叫。</target>       </trans-unit>
        <trans-unit id="164" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Otherwise, if <ph id="ph1">`obj`</ph> is a real object, all calls on the object are intercepted.</source>
          <target state="translated">否則，如果<ph id="ph1">`obj`</ph>是實際物件，會攔截所有的物件上呼叫。</target>       </trans-unit>
        <trans-unit id="165" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The <ph id="ph1">`ctx`</ph> parameter must be <ph id="ph2">`null`</ph>.</source>
          <target state="translated"><ph id="ph1">`ctx`</ph>參數必須是<ph id="ph2">`null`</ph>。</target>       </trans-unit>
        <trans-unit id="166" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If <ph id="ph1">`ctx`</ph> is not <ph id="ph2">`null`</ph>, <ph id="ph3">`obj`</ph> must be <ph id="ph4">`null`</ph> and all calls entering and leaving the context are intercepted.</source>
          <target state="translated">如果<ph id="ph1">`ctx`</ph>不<ph id="ph2">`null`</ph>，<ph id="ph3">`obj`</ph>必須<ph id="ph4">`null`</ph>和會攔截進入與離開內容的所有呼叫。</target>       </trans-unit>
        <trans-unit id="167" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If both <ph id="ph1">`ctx`</ph> and <ph id="ph2">`obj`</ph> are <ph id="ph3">`null`</ph>, all calls entering and leaving all contexts are intercepted.</source>
          <target state="translated">如果兩個<ph id="ph1">`ctx`</ph>和<ph id="ph2">`obj`</ph>是<ph id="ph3">`null`</ph>，會攔截所有的呼叫進入與離開所有內容。</target>       </trans-unit>
        <trans-unit id="168" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Either <ph id="ph1">&lt;paramref name="prop" /&gt;</ph> or its name is <ph id="ph2">&lt;see langword="null" /&gt;</ph>, or it is not dynamic (it does not implement <ph id="ph3">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph>).</source>
          <target state="translated"><ph id="ph1">&lt;paramref name="prop" /&gt;</ph> 或其名稱為 <ph id="ph2">&lt;see langword="null" /&gt;</ph>，或不是動態屬性 (未實作 <ph id="ph3">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph>)。</target>       </trans-unit>
        <trans-unit id="169" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Both an object as well as a context are specified (both <ph id="ph1">&lt;paramref name="obj" /&gt;</ph> and <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph> are not <ph id="ph3">&lt;see langword="null" /&gt;</ph>).</source>
          <target state="translated">已同時指定物件和內容 (<ph id="ph1">&lt;paramref name="obj" /&gt;</ph> 和 <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph> 都不是 <ph id="ph3">&lt;see langword="null" /&gt;</ph>)。</target>       </trans-unit>
        <trans-unit id="170" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>for plugging code into the CLR infrastructure.</source>
          <target state="translated">在 CLR 基礎結構中插入程式碼。</target>       </trans-unit>
        <trans-unit id="171" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Associated enumeration: <ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph>.</source>
          <target state="translated">關聯的列舉型別：<ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph>。</target>       </trans-unit>
        <trans-unit id="172" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetData(System.LocalDataStoreSlot,System.Object)">
          <source>The data slot where the data is to be added.</source>
          <target state="translated">要加入資料的資料插槽。</target>       </trans-unit>
        <trans-unit id="173" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetData(System.LocalDataStoreSlot,System.Object)">
          <source>The data that is to be added.</source>
          <target state="translated">要加入的資料。</target>       </trans-unit>
        <trans-unit id="174" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetData(System.LocalDataStoreSlot,System.Object)">
          <source>Sets the data in the specified slot on the current context.</source>
          <target state="translated">在目前內容的指定插槽中設定資料。</target>       </trans-unit>
        <trans-unit id="175" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>The actual context property.</source>
          <target state="translated">實際的內容屬性。</target>       </trans-unit>
        <trans-unit id="176" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>Sets a specific context property by name.</source>
          <target state="translated">依名稱設定特定的內容屬性。</target>       </trans-unit>
        <trans-unit id="177" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>Adding properties to the default context is not allowed.</source>
          <target state="translated">不允許將屬性加入至預設內容。</target>       </trans-unit>
        <trans-unit id="178" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>The context is frozen.</source>
          <target state="translated">內容已凍結。</target>       </trans-unit>
        <trans-unit id="179" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>The property or the property name is <ph id="ph1">&lt;see langword="null" /&gt;</ph>.</source>
          <target state="translated">屬性或屬性名稱為 <ph id="ph1">&lt;see langword="null" /&gt;</ph>。</target>       </trans-unit>
        <trans-unit id="180" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.ToString">
          <source>Returns a <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> class representation of the current context.</source>
          <target state="translated">傳回目前內容的 <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> 類別表示。</target>       </trans-unit>
        <trans-unit id="181" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.ToString">
          <source>A <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> class representation of the current context.</source>
          <target state="translated">目前內容的 <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> 類別表示。</target>       </trans-unit>
        <trans-unit id="182" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The name of the dynamic property to unregister.</source>
          <target state="translated">要移除註冊的動態屬性名稱。</target>       </trans-unit>
        <trans-unit id="183" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The object/proxy for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated">已註冊 <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> 的物件/Proxy。</target>       </trans-unit>
        <trans-unit id="184" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The context for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated">已註冊 <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> 的內容。</target>       </trans-unit>
        <trans-unit id="185" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Unregisters a dynamic property implementing the <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> interface.</source>
          <target state="translated">移除註冊實作 <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> 介面的動態屬性。</target>       </trans-unit>
        <trans-unit id="186" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source><ph id="ph1">&lt;see langword="true" /&gt;</ph> if the object was successfully unregistered; otherwise, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</source>
          <target state="translated">如果物件移除註冊成功，則為 <ph id="ph1">&lt;see langword="true" /&gt;</ph>，否則為 <ph id="ph2">&lt;see langword="false" /&gt;</ph>。</target>       </trans-unit>
        <trans-unit id="187" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The <ph id="ph1">&lt;paramref name="name" /&gt;</ph> parameter is <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;paramref name="name" /&gt;</ph> 參數為 <ph id="ph2">&lt;see langword="null" /&gt;</ph>。</target>       </trans-unit>
        <trans-unit id="188" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Both an object as well as a context are specified (both <ph id="ph1">&lt;paramref name="obj" /&gt;</ph> and <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph> are not <ph id="ph3">&lt;see langword="null" /&gt;</ph>).</source>
          <target state="translated">已同時指定物件和內容 (<ph id="ph1">&lt;paramref name="obj" /&gt;</ph> 和 <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph> 都不是 <ph id="ph3">&lt;see langword="null" /&gt;</ph>)。</target>       </trans-unit>
        <trans-unit id="189" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>for plugging code into the CLR infrastructure.</source>
          <target state="translated">在 CLR 基礎結構中插入程式碼。</target>       </trans-unit>
        <trans-unit id="190" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Associated enumeration: <ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph>.</source>
          <target state="translated">關聯的列舉型別：<ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph>。</target>       </trans-unit>
      </group>
    </body>
  </file>
</xliff>